.buttons
  = link_to "#{icon(:plus, :white)} Add #{MPatient.human_name}".html_safe,
            '#',
            class: 'btn btn-info btn-small',
            'data-toggle' => 'modal',
            'data-target' => ".m_patient_editor#new"
.fat-rows
  - m_patients.each do |m_patient|
    .fat-row
      = render partial: 'm_patients/show', locals: {m_patient: m_patient}
