%p
  - m_patient.details.each do |key, value|
    - if value.present?
      %span.label= value
  - m_patient.m_patient_is_allergic_to_drugs.each do |m_patient_is_allergic_to_drug|
    - m_patient_is_allergic_to_drug.details.each do |key, value|
      - if value.present?
        %span.label.label-success= value
.fat-row-buttons
  = link_to icon(:edit).html_safe,
            '#',
            class: 'btn btn-small',
            id: m_patient.id
  = link_to icon(:trash, :white).html_safe,
            m_patient_path(m_patient),
            method: 'delete',
            class: 'btn btn-small btn-danger'