/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap"

.scrollable
  position: fixed
  top: 4.25532%
  bottom: 4.25532%
  overflow-x: hidden
  overflow-y: auto

.m_patients
  @extend .scrollable
  width: 38.12057%
  left: 2.12766%
  bottom: 52.12766%
  background-color: blue

.u_patients
  @extend .scrollable
  width: 38.12057%
  left: 2.12766%
  top: 52.12766%
  background-color: yellow

.gis
  @extend .scrollable
  width: 15.24823%
  left: 42.37589%
  background-color: red

.epd_patients
  @extend .scrollable
  width: 38.12057%
  left: 59.75178%
  background-color: green
