/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap"

.scrollable
  position: fixed
  top: 3.19149%
  bottom: 3.19149%
  overflow-x: hidden
  overflow-y: auto

  .scroll-spacer
    height: 8px

.center-panel
  @extend .scrollable
  width: 17.60284%
  left: 40.19858%

.left-panel
  @extend .scrollable
  width: 40.07092%
  left: 58.86525%

.m-patients
  @extend .scrollable
  width: 38.07092%
  left: 1.06383%
  bottom: 51.595745%
.m-patients.fade-out
  top: 48.404255%

.exchange
  .m-patients
    bottom: 3.19149%
  .m-patients.fade-out
    top: 96.80851%
  .add
    bottom: auto

.u-patients
  @extend .scrollable
  width: 38.07092%
  top: 51.595745%
  left: 1.06383%

.exchange
  .u-patients
    top: 3.19149%
    left: 58.86525%
  .u-patients.fade-out
    top: 96.80851%

.gis
  @extend .center-panel

.epd-patients, .common-objects, .umcg-prolife4-doctors
  @extend .left-panel

.add
  bottom: auto
  z-index: 200

.fade-out
  +box-shadow(inset 0 -8px 5px -4px white)
  z-index: 100
  height: 8px
  margin-top: -7px
  top: 96.80851%
  bottom: auto

.header
  padding-bottom: 10px

.scroll-fade
  padding: 5px
  padding-left: 25px
  background-color: white
  +box-shadow(0 0 5px 5px white)

h4
  margin: 0
  padding-top: 5px
  margin-bottom: 5px
  border-bottom: 1px solid #e5e5e5

ul
  margin-left: 20px

li
  font-size: 20px

.fat-rows
  padding-top: 46px
  margin-bottom: 0
  font-size: 14px


.fat-row
  position: relative
  padding: 5px
  min-height: 26px
  +border-radius(5px)

  p
    display: inline-block
    vertical-align: middle
    margin: 0
    width: 100%

  .separator
    display: inline-block
    vertical-align: middle
    font-size: 40px
    color: #999999

  &:hover, &:active
    background-color: #f5f5f5

.fat-row-buttons
  display: none
  position: absolute
  right: 5px
  top: 5px
  height: 26px

.modal
  form
    margin-bottom: 0

  select
    width: auto

  .scroll-helper
    height: 320px

  .add-button
    margin-bottom: 20px

